


<div *ngIf="!showResults && !noResults" class = "align-form">

  <section class = "mat-typography">
    <h4>Welcome {{username}}</h4> 
    <h2>Enter Search Query</h2>
    <form (submit)="onSearchSubmit()" class="example-form">  

      <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
        <input matInput placeholder="" style="display: none">
          <mat-checkbox [(ngModel)]="docNotUsedOnline" name="docNotUsedOnline">Available for Online Issue</mat-checkbox>
      </mat-form-field>

      <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
        <input matInput placeholder="" style="display: none">
          <mat-checkbox [(ngModel)]="docNotUsedPrint" name="docNotUsedPrint">Available for Print Issue</mat-checkbox>
      </mat-form-field>

      <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
        <input matInput placeholder="" style="display: none">
          <mat-checkbox [(ngModel)]="docFlagPrint" name="docFlagPrint">Flagged for Print Issue</mat-checkbox>
      </mat-form-field>

      <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
        <input matInput placeholder="" style="display: none">
          <mat-checkbox [(ngModel)]="docEditorialOnly" name="docEditorialOnly">Editorial Only</mat-checkbox>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="docSection" name="docSection" placeholder="Section">
          <mat-option *ngFor="let s of sections" [value]="s"> {{s}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="afterAcceptDatePicker" placeholder="Accepted after this date:" [(ngModel)]="afterAcceptDate" name="afterAcceptDate">
        <mat-datepicker-toggle matSuffix [for]="afterAcceptDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #afterAcceptDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="beforeAcceptDatePicker" placeholder="Accepted before this date:" [(ngModel)]="beforeAcceptDate" name="beforeAcceptDate">
        <mat-datepicker-toggle matSuffix [for]="beforeAcceptDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #beforeAcceptDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Title Keywords" [(ngModel)]="docTitle" name="docTitle">  
      </mat-form-field>  

      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Author" [(ngModel)]="docAuthor" name="docAuthor">
      </mat-form-field>  

      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="DOI" [(ngModel)]="docDOI" name="docDOI">
      </mat-form-field>  

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="editor" name="editor" placeholder="Editor">
          <mat-option *ngFor="let e of editorsMenu" [value]="e"> {{e}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="status" name="status" placeholder="Status">
          <mat-option *ngFor="let s of statusConfig" [value]="s"> {{s}} </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit">Search</button>

    </form>  
  </section>
</div>

<div *ngIf="noResults" class = "align-page">
  <h2>
    Sorry, your query found no results.
  </h2>
    <div class = "align-form">
    <section class = "mat-typography">
      <div class="flex-center">
        <hr class="hr-style">
        <span (click)="onNewSearch()">
          <button mat-raised-button>New Search</button>
        </span>
      </div>
    </section>
  </div>
</div>

<div *ngIf="showResults" class = "align-page">

  <section class="mat-typography">

    <div *ngFor="let d of displayDocs; let i = index">
      <h2>
         {{ d.docTitle }}
      </h2>
      <p>
        Section: {{ d.docSection }}
      </p>
      <p>
        Author: {{ d.docAuthor }} 
      </p>
      <p>
        DOI: {{ d.docDOI }}
      </p>
      <p>
        Status: {{ d.docStatus }}
      </p>

      <a href="" onClick="return false;" style="display: inline" class="red-link">
        <span (click)="onDocClick(d, i)"> See full entry</span>
      </a>
      <br><br>
    </div>
  </section>
  <div class = "align-form">
    <section class = "mat-typography">
      <div class="flex-center">
        <hr class="hr-style">
        <span (click)="onNewSearch()">
          <button mat-raised-button>New Search</button>
        </span>
        &nbsp;
        <span (click)="onModifySearch()">
          <button mat-raised-button>Modify Search</button>
        </span>
        &nbsp;
        <span (click)="onDownload()">
          <button mat-raised-button>Download CSV</button>
        </span>
      </div>
    </section>
  </div>
</div>




