<section class = "mat-typography">
<span class = "nav-center-tabs">
  <nav mat-tab-nav-bar [disableRipple]="true">

      <a mat-tab-link 
        [routerLink] = "['/home']" 
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <span class="logo"> CMAJ LEGEND </span>
      </a>
      <a *ngIf="authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/register']" 
        routerLinkActive #rlb="routerLinkActive"
        [active]="rlb.isActive"
      >
        Users 
      </a>

      <a *ngIf="authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/editors']" 
        routerLinkActive #rll="routerLinkActive"
        [active]="rll.isActive"
      >
        Editors 
      </a>

      <a *ngIf="authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/sections']" 
        routerLinkActive #rlc="routerLinkActive"
        [active]="rlc.isActive"
      >
        Sections 
      </a>

      <a *ngIf="authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/online-issue-config']" 
        routerLinkActive #rlk="routerLinkActive"
        [active]="rlk.isActive"
      >
        Online 
      </a>

      <a *ngIf="authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/codes']" 
        routerLinkActive #rlm="routerLinkActive"
        [active]="rlm.isActive"
      >
        Codes 
      </a>

      <a *ngIf="authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/config']" 
        routerLinkActive #rlj="routerLinkActive"
        [active]="rlj.isActive"
      >
        Config 
      </a>

      <a *ngIf="authService.loggedIn() && !authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/picksection']" 
        routerLinkActive #rld="routerLinkActive"
        [active]="rld.isActive"
      >
        Add Doc 
      </a>
      <a *ngIf="authService.loggedIn() && !authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/recent']" 
        routerLinkActive #rle="routerLinkActive"
        [active]="rle.isActive"
      >
        Recent 
      </a>
      <a *ngIf="authService.loggedIn() && !authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/search']" 
        routerLinkActive #rlf="routerLinkActive"
        [active]="rlf.isActive"
      >
        Search 
      </a>
      <a *ngIf="authService.loggedIn() && !authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/online']" 
        routerLinkActive #rlg="routerLinkActive"
        [active]="rlg.isActive"
      >
        Online 
      </a>
      <a *ngIf="authService.loggedIn() && !authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/print']" 
        routerLinkActive #rlh="routerLinkActive"
        [active]="rlh.isActive"
      >
        Print 
      </a>
      <!--
      <a *ngIf="authService.loggedIn() && !authService.adminLoggedIn()" mat-tab-link 
        [routerLink] = "['/metrics']" 
        routerLinkActive #rli="routerLinkActive"
        [active]="rli.isActive"
      >
        Metrics 
      </a>
      -->
      <a *ngIf="authService.loggedIn()" mat-tab-link 
        (click)="onLogoutClick()" href=""
      >
        Logout 
      </a>
      
    </nav>

</span>
</section>
