<section class = "mat-typography">
  <!--
<span class = "nav-center-tabs">
i-->

  <nav mat-tab-nav-bar [disableRipple]="true">
    <ul class="container">

      <li>
      <a mat-tab-link 
        [routerLink] = "['/home']" 
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <span class="logo"> CMAJ LEGEND </span>
      </a>
      </li>
    </ul>
  </nav>

  <nav mat-tab-nav-bar [disableRipple]="true">
    <ul class="container">
      
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/register']" 
        routerLinkActive #rlb="routerLinkActive"
        [active]="rlb.isActive"
      >
        Users 
      </a>
      </li>
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/editors']" 
        routerLinkActive #rlc="routerLinkActive"
        [active]="rlc.isActive"
      >
        Editors 
      </a>
      </li>
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/sections']" 
        routerLinkActive #rld="routerLinkActive"
        [active]="rld.isActive"
      >
        Sections 
      </a>
      </li>
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/online-issue-config']" 
        routerLinkActive #rle="routerLinkActive"
        [active]="rle.isActive"
      >
        Online 
      </a>
      </li>
      <!--
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/print-config']" 
        routerLinkActive #rlf="routerLinkActive"
        [active]="rlf.isActive"
      >
        Print 
      </a>
      </li>
    -->
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/codes']" 
        routerLinkActive #rlg="routerLinkActive"
        [active]="rlg.isActive"
      >
        Codes 
      </a>
      </li>
      <li *ngIf="authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/config']" 
        routerLinkActive #rlh="routerLinkActive"
        [active]="rlh.isActive"
      >
        Config 
      </a>
      <li *ngIf="authService.loggedIn() && !authService.adminLoggedIn()">
      <a mat-tab-link 
        [routerLink] = "['/picksection']" 
        routerLinkActive #rli="routerLinkActive"
        [active]="rli.isActive"
      >
        Add 
      </a>
      </li>
      <li *ngIf="authService.loggedIn() && !authService.adminLoggedIn()">
      <a mat-tab-link 
        [routerLink] = "['/recent']" 
        routerLinkActive #rlj="routerLinkActive"
        [active]="rlj.isActive"
      >
        Recent 
      </a>
      </li>
      <li *ngIf="authService.loggedIn() && !authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/search']" 
        routerLinkActive #rlk="routerLinkActive"
        [active]="rlk.isActive"
      >
        Search 
      </a>
      </li>
      <li *ngIf="authService.loggedIn() && !authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/online']" 
        routerLinkActive #rll="routerLinkActive"
        [active]="rll.isActive"
      >
        Online 
      </a>
      </li>
      <li *ngIf="authService.loggedIn() && !authService.adminLoggedIn()">
      <a  mat-tab-link 
        [routerLink] = "['/print']" 
        routerLinkActive #rlm="routerLinkActive"
        [active]="rlm.isActive"
      >
        Print 
      </a>
      </li>
      <li *ngIf="authService.loggedIn()">
      <a  mat-tab-link 
        (click)="onLogoutClick()" href=""
      >
        Logout 
      </a>
      </li>


      </ul> 
    </nav>
<!--
</span>
-->


</section>
