.nav-center-tabs {
  flex: 1 1 auto;
  text-align: center;
}
 
a {
  font-size: 16px;
  color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #A9A9A9;
}

a:active {
    color: #A9A9A9;
}

.logo {
	font-size: 22px;
	color:red;
}

