<div class = "align-form">
  <section class = "mat-typography">
    <h4>Welcome {{username}}</h4> 
    <h2>Add Section</h2>
    <form (submit)="onSectionSubmit()" class="example-form">  
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Section" [(ngModel)]="section" name="section">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Department" [(ngModel)]="department" name="department">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="Online issue position" [(ngModel)]="onlinePosition" name="onlinePosition">
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="Print issue position" [(ngModel)]="printPosition" name="printPosition">
      </mat-form-field>  
      <button mat-raised-button type="submit">Submit</button>
    </form>  
    <div *ngIf="errorMessage">
      <h4 class="red-font">{{errorMessage}}</h4>
    </div>
    <div *ngIf="validateMessage">
      <h4 class="red-font">{{validateMessage}}</h4>
    </div>
    <div *ngIf="successMessage">
      <h4 class="red-font">{{successMessage}}</h4>
    </div>
    <br>
    <hr class="hr-style">

    <br><br>
    <h2>Current Sections</h2>

    <div *ngFor="let d of displaySections; let i = index">
      <h3>
         <b>Section:</b> {{ d.section }}
      </h3>
      <h3>
         <b>Department:</b> {{ d.department }}
      </h3>
      <h3>
         <b>Online Position:</b> {{ d.onlinePosition }}
      </h3>
      <h3>
         <b>Print Position:</b> {{ d.printPosition }}
      </h3>

      <a href="" onClick="return false;">
        <span (click)="onSectionDelete(d, i)"> Delete</span>
      </a>

      <hr class="hr-style">
    </div>

  </section>
</div>
