
<div class = "align-form">
  <section class = "mat-typography">

    <h4>Welcome {{username}}</h4> 
    <h2>Add Section</h2>
    <form (submit)="onSectionSubmit()" class="example-form">  
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Section" [(ngModel)]="section" name="section">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Department" [(ngModel)]="department" name="department">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="Online issue position" [(ngModel)]="onlinePosition" name="onlinePosition">
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="Print issue position" [(ngModel)]="printPosition" name="printPosition">
      </mat-form-field>  
      <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
        <input matInput placeholder="" style="display: none">
          <mat-checkbox [(ngModel)]="layout" name="layout">Print Layout Only</mat-checkbox>
      </mat-form-field>
      <button mat-raised-button type="submit">Submit</button>
    </form>  
    <div *ngIf="errorMessage">
      <h4 class="red-font">{{errorMessage}}</h4>
    </div>
    <div *ngIf="validateMessage">
      <h4 class="red-font">{{validateMessage}}</h4>
    </div>
    <div *ngIf="successMessage">
      <h4 class="blue-font">{{successMessage}}</h4>
    </div>
    <br>
    <hr class="hr-style">
  </section>
</div>

<div class = "align-form">
  <section class = "mat-typography">

    <div>
      <h2 style="display: inline">
        <b>Current Sections </b> 
      </h2>
     <p style="display: inline">Sort by: &nbsp;</p> 
      <a href="" onClick="return false;" style="display: inline" class="red-link">
        <span (click)="onGetSections('section')">Section</span>
      </a>&mdash; 
      <a href="" onClick="return false;" style="display: inline" class="red-link">
        <span (click)="onGetSections('department')">Department</span>
      </a>&mdash; 
      <a href="" onClick="return false;" style="display: inline" class="red-link">
        <span (click)="onGetSections('onlinePosition')">Online position</span>
      </a>&mdash; 
      <a href="" onClick="return false;" style="display: inline" class="red-link">
        <span (click)="onGetSections('printPosition')">Print position</span>
      </a>&mdash; 
      <a href="" onClick="return false;" style="display: inline" class="red-link">
        <span (click)="onGetSections('layout')">Layout</span>
      </a>
    </div>

    <hr class="hr-style">

    <div *ngFor="let d of displaySections; let i = index">

      <div *ngIf="i != sectionIndex">
        <h3 class="red-font">
          {{ d.section }}
        </h3>
        <p>
           Department: {{ d.department }}
        </p>
        <p>
           Online Position: {{ d.onlinePosition }}
        </p>
        <p>
           Print Position: {{ d.printPosition }}
        </p>
        <p *ngIf="d.layout">
           Print Layout Only
        </p>

        <a href="" onClick="return false;">
          <span (click)="onSectionEdit(d, i)">Edit</span>
        </a>
        &nbsp; 
        <a href="" onClick="return false;">
          <span (click)="onSectionDelete(d, i)">Delete</span>
        </a>
        <hr class="hr-style">
      </div>

      <div *ngIf="i == sectionIndex">
        <h2>Edit Section</h2>
        <form (submit)="onEditSubmit()" class="example-form">  
          <mat-form-field class="example-full-width">  
            <input type="text" matInput placeholder="Section" [(ngModel)]="sectionEdit" name="sectionEdit">  
          </mat-form-field>  
          <mat-form-field class="example-full-width">  
            <input type="text" matInput placeholder="Department" [(ngModel)]="departmentEdit" name="departmentEdit">  
          </mat-form-field>  
          <mat-form-field class="example-full-width">  
            <input type="number" matInput placeholder="Online issue position" [(ngModel)]="onlinePositionEdit" name="onlinePositionEdit">
          </mat-form-field>  
          <mat-form-field class="example-full-width">  
            <input type="number" matInput placeholder="Print issue position" [(ngModel)]="printPositionEdit" name="printPositionEdit">
          </mat-form-field>  
          <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
            <input matInput placeholder="" style="display: none">
              <mat-checkbox [(ngModel)]="layoutEdit" name="layoutEdit">Print Layout Only</mat-checkbox>
          </mat-form-field>
          <button mat-raised-button type="submit">Submit</button>
          <button mat-raised-button type="button" (click)="editCancel()">Cancel</button>
        </form>  

        <br>  
        <div *ngIf="errorMessageEdit">
          <h4 class="red-font">{{errorMessageEdit}}</h4>
        </div>
        <div *ngIf="validateMessageEdit">
          <h4 class="red-font">{{validateMessageEdit}}</h4>
        </div>
        <div *ngIf="successMessageEdit">
          <h4 class="blue-font">{{successMessageEdit}}</h4>
        </div>
        <br>
        <hr class="hr-style">

      </div>
      
    </div>

  </section>
</div>
