  
<div class ="align-form">
  <section class = "mat-typography">
    <h4>Welcome {{username}}</h4> 
    <h2>List of users</h2>
    <hr class="hr-style">
    <div *ngIf="deleteMessage">
      <h4 class="red-font">{{deleteMessage}}</h4>
    </div>

    <div *ngFor="let d of displayUsers; let i = index">

      <h3>
         {{ d.username }}
      </h3>
      <a href="" onClick="return false;">
        <span (click)="onUserDelete(d, i)"> Delete</span>
      </a>
      <hr class="hr-style">
    </div>


  </section>
</div>
