<div *ngIf="!showResults" class = "align-form">

  <section class = "mat-typography">

    <h2>Select Online Issue</h2>
    <form (submit)="onSearchSubmit()" class="example-form">  

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="docOnlineIssue" name="docOnlineIssue" placeholder="Online Issue">
          <mat-option *ngFor="let o of onlineIssuesDates" [value]="o"> {{o}} </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button type="submit">Search</button>

    </form>  

  </section>
</div>

<div *ngIf="showResults" class = "align-page">

  <section class="mat-typography">

    <h1>
        <b>Online Issue:</b> {{ docOnlineIssue }}; Volume {{ onlineIssuesVolume }}; Issue {{ onlineIssuesIssue }}
    </h1>
    <h3><b>Last Page Previous Online Issue:</b> {{ lastPagePrevIssue }} </h3>
   
    <br>
    <div *ngFor="let d of displayDocs; let i = index">
      <h2>
         {{ d.docTitle }}
      </h2>
      <p>
        <b>Section:</b> {{ d.docSection }}
      </p>
      <p *ngIf="d.docDepartment">
        <b>Department:</b> {{ d.docDepartment }}
      </p>
      <p>
        <b>Author:</b> {{ d.docAuthor }} 
      </p>
      <p>
        <b>DOI:</b> {{ d.docDOI }}
      </p>
      <p *ngIf="d.docCollectionCode1"><b>Collection Code 1:</b> {{ d.docCollectionCode1 }}</p>
      <p *ngIf="d.docCollectionCode2"><b>Collection Code 2:</b> {{ d.docCollectionCode2 }}</p>
      <p *ngIf="d.docCollectionCode3"><b>Collection Code 3:</b> {{ d.docCollectionCode3 }}</p>
      <p *ngIf="d.docCollectionCode4"><b>Collection Code 4:</b> {{ d.docCollectionCode4 }}</p>
      <p *ngIf="d.docCollectionCode5"><b>Collection Code 5:</b> {{ d.docCollectionCode5 }}</p>
      <p *ngIf="d.docCollectionCode6"><b>Collection Code 6:</b> {{ d.docCollectionCode6 }}</p>


      <div *ngIf="i != docIndex">
        <p>
          <b>Number of Figures:</b> {{ d.docNumFigures }}
        </p>
        <p>
          <b>Number of Tables:</b> {{ d.docNumTables }}
        </p>
        <p>
          <b>Number of Appendencies:</b> {{ d.docNumAppendices }}
        </p>
        <p>
          <b>Position:</b> {{ d.docOnlinePosition }}
        </p>
        <p>
          <b>First Page:</b> {{ d.docFirstPageOnline }}
        </p>
        <p>
          <b>Last Page:</b> {{ d.docLastPageOnline }}
        </p>
        <p>
          <b>Online Issue Notes:</b> {{ d.docOnlineNotes }}
        </p>

        <a href="" onClick="return false;">
         <span (click)="onOnlineOrderClick(d, i)"> Edit </span>
        </a>
        <br><br>
        <a href="" onClick="return false;">
          <span (click)="onDocClick(d, i)"> See full entry </span>
        </a>
      </div>

      <div *ngIf="i == docIndex">
        <div class = "align-form">

          <section class = "mat-typography">
           <h4>Edit Online Issue </h4>
            <form (submit)="onOnlineOrderSubmit()" class="example-form">  

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Figures" [(ngModel)]="docNumFigures" name="docNumFigures">
              </mat-form-field>  

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Tables" [(ngModel)]="docNumTables" name="docNumTables">
              </mat-form-field>  

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Appendices" [(ngModel)]="docNumAppendices" name="docNumAppendices">
              </mat-form-field>  

              <mat-form-field class="example-full-width">
                <input type="number" matInput [(ngModel)]="docOnlinePosition" name="docOnlinePosition" placeholder="Position">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input type="number" matInput [(ngModel)]="docFirstPageOnline" name="docFirstPageOnline" placeholder="First Page">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input type="number" matInput [(ngModel)]="docLastPageOnline" name="docLastPageOnline" placeholder="Last Page">
              </mat-form-field>

              <mat-form-field class="example-full-width">  
                <input type="text" matInput placeholder="Online Issue Notes " [(ngModel)]="docOnlineNotes" name="docOnlineNotes">  
              </mat-form-field> 

            <button mat-raised-button type="submit">Submit</button>
            </form>  
          </section>

        </div>
      </div>

      <hr class="hr-style">
    </div>

    <div class="flex-center">
      <span (click)="onNewSearch()">
        <button mat-raised-button>New Search</button>
      </span>
      <span (click)="onDownload()">
        <button mat-raised-button>Download CSV</button>
      </span>
    </div>

  </section>
</div>