<div *ngIf="!showResults && !noResults" class = "align-form">

  <section class = "mat-typography">

    <h2>Select Online Issue</h2>
    <form (submit)="onSearchSubmit()" class="example-form">  

      <mat-form-field class="example-full-width">
        <input matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="docOnlineIssueDatePicker" placeholder="Online Issue Date" [(ngModel)]="docOnlineIssue" name="docOnlineIssue">
        <mat-datepicker-toggle matSuffix [for]="docOnlineIssueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #docOnlineIssueDatePicker></mat-datepicker>
      </mat-form-field>

       <button mat-raised-button type="submit">Search</button>

    </form>  
  </section>
</div>

<div *ngIf="noResults" class = "align-page" >
  <h2>
     Sorry, your query found no results.
  </h2>
  <div class = "align-form">
    <section class = "mat-typography">
      <div class="flex-center">
        <hr class="hr-style">
        <span (click)="onNewSearch()">
          <button mat-raised-button>New Search</button>
        </span>
      </div>
    </section>
  </div>
</div>

<div *ngIf="showResults" class = "align-page">

  <section class="mat-typography">

    <h5><i>
      <span style="color:#4D6FAC">Previous Issue:&nbsp;</span> 
      <span *ngIf="prevOnlineIssueDateFormatted">{{ prevOnlineIssueDateFormatted }} </span>
      <span style="color:#4D6FAC">( Last Page:&nbsp;</span> 
      <span *ngIf="lastPagePrevIssue">{{ lastPagePrevIssue }} </span> )
    </i></h5>

    <div *ngIf="editorialView">

      <div> 
        <h1 style="display: inline">
          <b>Online Issue:</b> {{ onlineIssueDateFormatted }} &nbsp; Volume {{ onlineIssueVolume }} &nbsp; Issue {{ onlineIssueIssue }}
        </h1>
        <a href="" onClick="return false;" style="display: inline" class="red-link">
          <span (click)="onViewLayout()"> Switch to layout view</span>
        </a>
      </div>

      <h3> 
        <span style="color:#4D6FAC">First Page:&nbsp;</span> 
        <span *ngIf="firstPageCurrentIssue">{{ firstPageCurrentIssue }} </span>&nbsp; 
        <span style="color:#4D6FAC">Last Page:&nbsp;</span> 
        <span *ngIf="lastPageCurrentIssue">{{ lastPageCurrentIssue }} </span>
      </h3>


    <div class="border-div">

      <h3 style="color:red">SUMMARY - Editorial View</h3>

      <div *ngFor="let d of displayDocs; let i = index">
        <p>
          <span style="color:#4D6FAC"> {{i+1}}. {{d.docSection}} </span>: {{d.docTitle}}
        <p>
      </div>

    </div>

    <div *ngFor="let d of displayDocs; let i = index" class="padded-div">
      <div>
        <h1 style="display: inline">
          {{i+1}}. {{ d.docTitle }}
        </h1>

        <a href="" onClick="return false;" style="display: inline" class="red-link">
          <span (click)="onDocClick(d, i)"> See full entry </span>
        </a>
      </div>
      <br>

      <p><span style="color:#4D6FAC">Section:</span> {{ d.docSection }} </p>
      <p *ngIf="d.docDepartment"> <span style="color:#4D6FAC">Department:</span> {{ d.docDepartment }} </p>
      <p><span style="color:#4D6FAC">Author:</span> {{ d.docAuthor }} </p>
      <p><span style="color:#4D6FAC">DOI:</span> {{ d.docDOI }} </p>
      <p *ngIf="d.docEditor "><span style="color:#4D6FAC">Copy Editor:</span> {{ d.docEditor }} </p>
      <p *ngIf="d.docFocusArea"><span style="color:#4D6FAC">Area of Focus:</span> {{d.docFocusArea}} </p>
      <p *ngIf="d.docRelatedMaterial"><span style="color:#4D6FAC">Related Material:</span> {{ d.docRelatedMaterial }}</p>
      <p *ngIf="d.docOpenAccess"><span style="color:#4D6FAC">Open Access:</span> yes</p>
      <p *ngIf="d.docProfessionalDev"><span style="color:#4D6FAC">Continuing Professional Development:</span> yes </p>
      <p *ngIf="d.docCollectionCode1"><span style="color:#4D6FAC">Collection Code 1:</span> {{ d.docCollectionCode1 }} </p>
      <p *ngIf="d.docCollectionCode2"><span style="color:#4D6FAC">Collection Code 2:</span> {{ d.docCollectionCode2 }} </p>
      <p *ngIf="d.docCollectionCode3"><span style="color:#4D6FAC">Collection Code 3:</span> {{ d.docCollectionCode3 }} </p>
      <p *ngIf="d.docCollectionCode4"><span style="color:#4D6FAC">Collection Code 4:</span> {{ d.docCollectionCode4 }}</p>
      <p *ngIf="d.docCollectionCode5"><span style="color:#4D6FAC">Collection Code 5:</span> {{ d.docCollectionCode5 }}</p>
      <p *ngIf="d.docCollectionCode6"><span style="color:#4D6FAC">Collection Code 6:</span> {{ d.docCollectionCode6 }}</p>
      <p *ngIf="d.docMultiMedia1"><span style="color:#4D6FAC">Multimedia 1:</span> {{ d.docMultiMedia1 }}</p>
      <p *ngIf="d.docMultiMedia2"><span style="color:#4D6FAC">Multimedia 2:</span> {{ d.docMultiMedia2 }}</p>
      <p *ngIf="d.docMultiMedia3"><span style="color:#4D6FAC">Multimedia 3:</span> {{ d.docMultiMedia3 }}</p>
      <p *ngIf="d.docPodcastEmbargoLink"><span style="color:#4D6FAC">Podcast Embargo Link:</span> {{ d.docPodcastEmbargoLink }}</p>
      <p *ngIf="d.docPodcastPermLink"><span style="color:#4D6FAC">Podcast Permanent Link:</span> {{ d.docPodcastPermLink }}</p>
      <p *ngIf="d.docPodcastEmbedCode"><span style="color:#4D6FAC">Podcast Embed Code:</span> {{ d.docPodcastEmbedCode }}</p>
      <p *ngIf="d.docVideoEmbedCode"><span style="color:#4D6FAC">Video Embed Code:</span> {{ d.docVideoEmbedCode }}</p>
      <p *ngIf="d.docVideoLink"><span style="color:#4D6FAC">Video Link:</span> {{ d.docVideoLink }}</p>
      <p *ngIf="d.docURL"><span style="color:#4D6FAC">URL:</span> {{ d.docURL }}</p>
      <p *ngIf="d.docHashTags"><span style="color:#4D6FAC">Hash Tags:</span> {{ d.docHashTags }}</p>
      <p *ngIf="d.docSocialSummary"><span style="color:#4D6FAC">Social Summary:</span> {{ d.docSocialSummary }}</p>
      <p *ngIf="d.docOnlineNotes"> <span style="color:#4D6FAC">Online Issue Notes:</span>

    </div>

    </div>

    <div *ngIf="layoutView">

      <div> 
        <h1 style="display: inline">
          <b>Online Issue:</b> {{ onlineIssueDateFormatted }} &nbsp; Volume {{ onlineIssueVolume }} &nbsp; Issue {{ onlineIssueIssue }}
        </h1>
        <a href="" onClick="return false;" style="display: inline" class="red-link">
          <span (click)="onViewEditorial()"> Switch to editorial view</span>
        </a>
      </div>

      <h3> 
        <span style="color:#4D6FAC">First Page:&nbsp;</span> 
        <span *ngIf="firstPageCurrentIssue">{{ firstPageCurrentIssue }} </span>&nbsp; 
        <span style="color:#4D6FAC">Last Page:&nbsp;</span> 
        <span *ngIf="lastPageCurrentIssue">{{ lastPageCurrentIssue }} </span>
      </h3>


    <div class="border-div">

      <h3 style="color:red">SUMMARY - Layout View</h3>

      <div *ngFor="let d of displayDocs; let i = index">
        <p>
          <span style="color:#4D6FAC"> {{i+1}}. {{d.docSection}} </span>: {{d.docTitle}}
            <span *ngIf="d.docFirstPageOnline"> ({{d.docFirstPageOnline }}</span>
            <span *ngIf="!d.docFirstPageOnline">(0</span>
            <span *ngIf="d.docLastPageOnline">,{{d.docLastPageOnline}})</span>
            <span *ngIf="!d.docLastPageOnline">,0)</span>
          </p>
      </div>

    </div>

    <div *ngFor="let d of displayDocs; let i = index" class="padded-div">
      <div>
        <h1 style="display: inline">
          {{i+1}}. {{ d.docTitle }}
        </h1>

        <a href="" onClick="return false;" style="display: inline" class="red-link">
          <span (click)="onDocClick(d, i)"> See full entry </span>
        </a>
      </div>
      <br>

      <p><span style="color:#4D6FAC">Section:</span> {{ d.docSection }} </p>
      <p *ngIf="d.docDepartment"> <span style="color:#4D6FAC">Department:</span> {{ d.docDepartment }} </p>
      <p><span style="color:#4D6FAC">Author:</span> {{ d.docAuthor }} </p>
      <p><span style="color:#4D6FAC">DOI:</span> {{ d.docDOI }} </p>
      <p *ngIf="d.docEditor "><span style="color:#4D6FAC">Copy Editor:</span> {{ d.docEditor }} </p>
      <p *ngIf="d.docFocusArea"><span style="color:#4D6FAC">Area of Focus:</span> {{d.docFocusArea}} </p>
      <p *ngIf="d.docRelatedMaterial"><span style="color:#4D6FAC">Related Material:</span> {{ d.docRelatedMaterial }}</p>
      <p *ngIf="d.docProfessionalDev"><span style="color:#4D6FAC">Continuing Professional Development:</span> yes </p>
      <p *ngIf="d.docVideoEmbedCode"><span style="color:#4D6FAC">Video Embed Code:</span> {{ d.docVideoEmbedCode }}</p>
      <p *ngIf="d.docVideoLink"><span style="color:#4D6FAC">Video Link:</span> {{ d.docVideoLink }}</p>

      <div *ngIf="i != docIndex" class = "edit-div">
        <p *ngIf="d.docNumFiguresOnline"><span style="color:#4D6FAC">Number of Figures Online:</span> {{ d.docNumFiguresOnline }} </p>
        <p *ngIf="d.docNumTablesOnline"><span style="color:#4D6FAC">Number of Tables Online:</span> {{ d.docNumTablesOnline }} </p>
        <p *ngIf="d.docNumBoxesOnline"><span style="color:#4D6FAC">Number of Tables Online:</span> {{ d.docNumTablesOnline }} </p>
        <p *ngIf="d.docNumAppendicesOnline"><span style="color:#4D6FAC">Number of Appendencies Online:</span> {{ d.docNumAppendicesOnline }} </p>
        <p *ngIf="d.docFirstPageOnline"> <span style="color:#4D6FAC">First Page:</span> {{ d.docFirstPageOnline }} </p>
        <p *ngIf="d.docLastPageOnline"> <span style="color:#4D6FAC">Last Page:</span> {{ d.docLastPageOnline }} </p>
        <p *ngIf="d.docOnlineNotes"> <span style="color:#4D6FAC">Online Issue Notes:</span> {{ d.docOnlineNotes }} </p>

        <a href="" onClick="return false;" class="red-link">
         <span (click)="onOnlineOrderClick(d, i)"> Edit </span>
        </a>
       
      </div>

      <div *ngIf="i == docIndex">
        <div class = "align-form">

          <section class = "mat-typography">
           <h4>Edit Online Issue </h4>
            <form (submit)="onOnlineOrderSubmit()" class="example-form">  

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Figures Online" [(ngModel)]="docNumFiguresOnline" name="docNumFiguresOnline">
              </mat-form-field>  

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Tables Online" [(ngModel)]="docNumTablesOnline" name="docNumTablesOnline">
              </mat-form-field>  

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Boxes Online" [(ngModel)]="docNumBoxesOnline" name="docNumBoxesOnline">
              </mat-form-field> 

              <mat-form-field class="example-full-width">  
                <input type="number" matInput placeholder="Number of Appendices Online" [(ngModel)]="docNumAppendicesOnline" name="docNumAppendicesOnline">
              </mat-form-field>  

              <mat-form-field class="example-full-width">
                <input type="number" matInput [(ngModel)]="docFirstPageOnline" name="docFirstPageOnline" placeholder="First Page">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input type="number" matInput [(ngModel)]="docLastPageOnline" name="docLastPageOnline" placeholder="Last Page">
              </mat-form-field>

              <mat-form-field class="example-full-width">  
                <input type="text" matInput placeholder="Online Issue Notes " [(ngModel)]="docOnlineNotes" name="docOnlineNotes">  
              </mat-form-field> 

            <button mat-raised-button type="submit">Submit</button>
            <button mat-raised-button type="button" (click)="onOnlineOrderCancel()">Cancel</button>
            </form>  
          </section>

        </div>
      </div>
    </div>

    </div>


  </section>


  <div class = "align-form">
    <section class = "mat-typography">
      <div class="flex-center">
        <hr class="hr-style">
        <span (click)="onNewSearch()">
          <button mat-raised-button>New Search</button>
        </span>
        &nbsp;
        <span (click)="onDownload()">
          <button mat-raised-button>Download CSV</button>
        </span>
      </div>
    </section>
  </div>
</div>




