<div *ngIf="!showResults && !noResults" class = "align-form">

  <section class = "mat-typography">

    <h2>Select Print Issue</h2>
    <form (submit)="onSearchSubmit()" class="example-form">  

      <mat-form-field class="example-full-width">
        <input matInput [matDatepickerFilter]="myFilterPrint" [matDatepicker]="printIssueSelectDatePicker" placeholder="Print Issue Date" [(ngModel)]="printIssueSelect" name="printIssueSelect">
        <mat-datepicker-toggle matSuffix [for]="printIssueSelectDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #printIssueSelectDatePicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button type="submit">Search</button>

    </form>  

  </section>
</div>

<div *ngIf="noResults" class = "align-page" >
  <h2>
     Sorry, your query found no results.
  </h2>
  <div class = "align-form">
    <section class = "mat-typography">
      <div class="flex-center">
        <hr class="hr-style">
        <span (click)="onNewSearch()">
          <button mat-raised-button>New Search</button>
        </span>
      </div>
    </section>
  </div>
</div>

<div *ngIf="showResults" class = "align-page">

  <section class="mat-typography">



<!-- *************************************************************************************************
******************************************************************************************************
******************************************************************************************************
******************************* EDITORIAL VIEW *******************************************************
******************************************************************************************************
******************************************************************************************************
***************************************************************************************************-->

    <div *ngIf="editorialView">

      <div>
        <h1 style="display: inline">
          <b>Print Issue:</b> {{ printIssueFormatted }} 
        </h1>
        <a href="" onClick="return false;" style="display: inline" class="red-link">
          <span (click)="onViewLayout()"> Switch to layout view</span>
        </a>
      </div>
      <br>

      <div class="border-div">
        <h3 style="color:red">SUMMARY - Editorial View</h3>
        <div *ngFor="let d of displayDocsEditorial; let i = index">
          <p><span style="color:#4D6FAC"> {{i+1}}. {{d.docSection}} </span>: {{d.docTitle}}</p>
        </div>
      </div>
      <br>

      <div *ngFor="let d of displayDocsEditorial; let i = index" class="padded-div">
        <div>
          <h1 style="display: inline">
            {{i+1}}. {{ d.docTitle }}
          </h1>

          <a href="" onClick="return false;" style="display: inline" class="red-link">
            <span (click)="onDocClick(d, i)"> See full entry </span>
          </a>
        </div>
        <br>

        <p><span style="color:#4D6FAC">Section:</span> {{ d.docSection }}</p>
        <p *ngIf="d.docDepartment"><span style="color:#4D6FAC">Department:</span> {{ d.docDepartment }}</p>
        <p *ngIf="d.docAuthor"><span style="color:#4D6FAC">Author:</span> {{ d.docAuthor }}</p> 
        <p *ngIf="d.docDOI"><span style="color:#4D6FAC">DOI:</span> {{ d.docDOI }}</p>
        <p *ngIf="d.docEditor"><span style="color:#4D6FAC">Copy Editor:</span> {{ d.docEditor }}</p>
        <p *ngIf="d.docAdConflicts"><span style="color:#4D6FAC">Ad Conflicts:</span> {{ d.docAdConflicts }}</p>
        <p *ngIf="d.docFocusArea"><span style="color:#4D6FAC">Area of Focus:</span> {{d.docFocusArea}} </p>

      </div>   
    </div>   

<!-- *************************************************************************************************
******************************************************************************************************
******************************************************************************************************
******************************* LAYOUT VIEW *******************************************************
******************************************************************************************************
******************************************************************************************************
***************************************************************************************************-->
     
    <div *ngIf="layoutView">

      <div>
        <h1 style="display: inline">
          <b>Print Issue:</b> {{ printIssueFormatted }} 
        </h1>
        <a href="" onClick="return false;" style="display: inline" class="red-link">
          <span (click)="onViewEditorial()"> Switch to editorial view</span>
        </a>
        <br><br>
        <span (click)="onLoadNonEditorial()">
          <button mat-raised-button>Load Layout-Only Sections</button>
        </span>
      </div>

      <br>

      <div class="border-div">
        <h3><span style="color:red">SUMMARY - Layout View</span> 
        <span style="color:#4D6FAC">
          (editorial pages: {{editorialPages}},
           ad pages: {{adPages}}, 
           layout pages: {{layoutPages}}, 
           total: {{totalPages}})
        </span>
        </h3>
        <div *ngFor="let d of displayDocsLayout; let i = index">
          <p>
            <span style="color:#4D6FAC"> {{i+1}}. {{d.docSection}} </span> 
            <span *ngIf = "!(d.docSection==d.docTitle)"> : {{d.docTitle}} </span>
              <span *ngIf="d.docFirstPagePrint"> ({{d.docFirstPagePrint }}</span>
              <span *ngIf="!d.docFirstPagePrint">(0</span>
              <span *ngIf="d.docLastPagePrint">,{{d.docLastPagePrint}})</span>
              <span *ngIf="!d.docLastPagePrint">,0)</span>
          </p>
        </div>
      </div>
      <br>

      <div *ngFor="let d of displayDocsLayout; let i = index" class="padded-div">

        <div>
          <h1 style="display: inline">
            {{i+1}}. {{ d.docTitle }}
          </h1>

          <a *ngIf="!d.docLayoutOnly" href="" onClick="return false;" style="display: inline" class="red-link">
            <span (click)="onDocClick(d, i)"> See full entry </span>
          </a>
        </div>
        <br>


        <p>
          <span style="color:#4D6FAC">Section:</span> {{ d.docSection }}
        </p>
        <p *ngIf="d.docDepartment"><span style="color:#4D6FAC">Department:</span> {{ d.docDepartment }}</p>
        <p *ngIf="d.docAuthor"><span style="color:#4D6FAC">Author:</span> {{ d.docAuthor }}</p>
        <p *ngIf="d.docDOI"><span style="color:#4D6FAC">DOI:</span> {{ d.docDOI }}</p>
        <p *ngIf="d.docEditor"><span style="color:#4D6FAC">Copy Editor:</span> {{ d.docEditor }}</p>
        <p *ngIf="d.docProfessionalDev"><span style="color:#4D6FAC">Continuing Professional Development:</span> yes </p>
        <p *ngIf="d.docMultiMedia1=='Visual Abstract'"><span style="color:#4D6FAC">Visual Abstract:</span> yes </p>
        <p *ngIf="d.docMultiMedia2=='Visual Abstract'"><span style="color:#4D6FAC">Visual Abstract:</span> yes </p>
        <p *ngIf="d.docMultiMedia3=='Visual Abstract'"><span style="color:#4D6FAC">Visual Abstract:</span> yes </p>
        <p *ngIf="d.docAdConflicts"><span style="color:#4D6FAC">Ad Conflicts:</span> {{ d.docAdConflicts }}</p>
        <p *ngIf="d.docFocusArea"><span style="color:#4D6FAC">Area of Focus:</span> {{d.docFocusArea}} </p>

        <div *ngIf="i != docIndex" class = "edit-div">
          <p *ngIf="d.docLayoutOnly"><span style="color:#4D6FAC">Title:</span> {{ d.docTitle }}</p>
          <p><span style="color:#4D6FAC">Position:</span> {{ d.docPrintPosition }}</p>
          <p><span style="color:#4D6FAC">Number of Pages in Print:</span> {{ d.docNumPagesPrint }}</p>
          <p><span style="color:#4D6FAC">First Page:</span> {{ d.docFirstPagePrint }}</p>
          <p><span style="color:#4D6FAC">Last Page:</span> {{ d.docLastPagePrint }}</p>
          <p *ngIf="d.docNumFiguresPrint"><span style="color:#4D6FAC">Number of Figures in Print:</span> {{ d.docNumFiguresPrint }}</p>
          <p *ngIf="d.docNumTablesPrint"><span style="color:#4D6FAC">Number of Tables in Print:</span> {{ d.docNumTablesPrint }}</p>
          <p *ngIf="d.docNumBoxesPrint"><span style="color:#4D6FAC">Number of Boxes in Print:</span> {{ d.docNumBoxesPrint }}</p>
          <p *ngIf="d.docPrintNotes"><span style="color:#4D6FAC">Print Issue Notes:</span> {{ d.docPrintNotes }}</p>
          <a href="" onClick="return false;" class="red-link">
           <span (click)="onPrintOrderClick(d, i)"> Edit </span>
          </a>
        </div>

        <div *ngIf="i == docIndex">
          <div class = "align-form">
            <section class = "mat-typography">
              <h4>Edit Print Issue </h4>
              <form (submit)="onPrintOrderSubmit()" class="example-form">  
                <mat-form-field *ngIf="d.docLayoutOnly" class="example-full-width">
                  <input type="string" matInput [(ngModel)]="docTitle" name="docTitle" placeholder="Title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docPrintPosition" name="docPrintPosition" placeholder="Position">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docNumPagesPrint" name="docNumPagesPrint" placeholder="Number of Pages in Print">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docFirstPagePrint" name="docFirstPagePrint" placeholder="First Page">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docLastPagePrint" name="docLastPagePrint" placeholder="Last Page">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docNumFiguresPrint" name="docNumFiguresPrint" placeholder="Number of Figures in Print">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docNumTablesPrint" name="docNumTablesPrint" placeholder="Number of Tables in Print">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput [(ngModel)]="docNumBoxesPrint" name="docNumBoxesPrint" placeholder="Number of Boxes in Print">
                </mat-form-field>
                <mat-form-field class="example-full-width">  
                  <input type="text" matInput placeholder="Print Issue Notes " [(ngModel)]="docPrintNotes" name="docPrintNotes">  
                </mat-form-field> 
                <button mat-raised-button type="submit">Submit</button>
                <button mat-raised-button type="button" (click)="onPrintOrderCancel()">Cancel</button>
              </form>  
            </section>
          </div>
        </div>

        <div class = "container1">
          <a *ngIf="d.docLayoutOnly" href="" onClick="return false;" class="grey-link">
           <span (click)="onDeleteDocSubmit(d, i)"> Delete </span>
          </a>
        </div>

      </div>
    </div>
  </section>



  <div class = "align-form">
    <section class = "mat-typography">
      <div class="flex-center">
        <hr class="hr-style">
        <span (click)="onNewSearch()">
          <button mat-raised-button>New Search</button>
        </span>
        <span (click)="onDownload()">
          <button mat-raised-button>Download CSV</button>
        </span>
        <span (click)="onDeletePreload()">
          <button mat-raised-button>Delete Preload</button>
        </span>
      </div>
    </section>
  </div>


</div>

