.example-form {  
  min-width: 150px;  
  max-width: 500px;  
  width: 100%;  
}  
  
.example-full-width {  
  width: 100%;  
}  

.align-form {
  flex: 1 1 auto;
  margin-left: 50px;
  margin-top: 50px;
}

.example-margin {
  margin: 0 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-form-field--no-underline .mat-input-underline {
  display: none; 
}


