
<div class="example-display">
  <section class="mat-typography">

    <div *ngIf="oneDoc && !editDoc">
      <h2> {{ oneDoc.docTitle }}</h2>
      <p *ngIf="oneDoc.docSection">Section: {{ oneDoc.docSection }}</p>
      <p *ngIf="oneDoc.docAuthor">Author: {{ oneDoc.docAuthor }}</p> 
      <p *ngIf="oneDoc.docDOI">DOI: {{ oneDoc.docDOI }}</p>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <br>
              Collection Codes
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br> 
          <p *ngIf="oneDoc.docCollectionCode1"> {{ oneDoc.docCollectionCode1 }}</p>
          <p *ngIf="oneDoc.docCollectionCode2"> {{ oneDoc.docCollectionCode2 }}</p>
          <p *ngIf="oneDoc.docCollectionCode3"> {{ oneDoc.docCollectionCode3 }}</p>
          <p *ngIf="oneDoc.docCollectionCode4"> {{ oneDoc.docCollectionCode4 }}</p>

        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <br>
              Document Details
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header> 
          <br>

          <p *ngIf="oneDoc.docOpenAccess">Open Access</p>
          <p *ngIf="oneDoc.docTranslation">Translation Required</p>
          <p *ngIf="oneDoc.docCommissionDate">Commission Date: {{ oneDoc.docCommissionDate }}</p>
          <p *ngIf="oneDoc.docAcceptDate">Accept Date: {{ oneDoc.docAcceptDate }}</p>
          <p *ngIf="oneDoc.docPublishDate">Publish Date: {{ oneDoc.docPublishDate }}</p>
          <p *ngIf="oneDoc.docInvoiceDate">Invoice Date: {{ oneDoc.docInvoiceDate }}</p>
          <p *ngIf="oneDoc.docInvoiceAmount">Invoice Amount: ${{ oneDoc.docInvoiceAmount }}</p>

        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Online Issue 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p *ngIf="oneDoc.docOnlineIssue">Issue: {{ oneDoc.docOnlineIssue }}</p>
          <p *ngIf="oneDoc.docFirstPageOnline">Start Page: {{ oneDoc.docFirstPageOnline }}</p>
          <p *ngIf="oneDoc.docLastPageOnline">End Page: {{ oneDoc.docLastPageOnline }}</p>
          <p *ngIf="oneDoc.docNumPagesOnline">Number Pages: {{ oneDoc.docNumPagesOnline }}</p>
          <p *ngIf="oneDoc.docOnlineNotes">Notes: {{ oneDoc.docOnlineNotes }}</p>

        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Print Issue 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p *ngIf="oneDoc.docPrintIssue">Date: {{ oneDoc.docPrintIssue }}</p>
          <p *ngIf="oneDoc.docFirstPagePrint">Start Page: {{ oneDoc.docFirstPagePrint }}</p>
          <p *ngIf="oneDoc.docLastPagePrint">End Page: {{ oneDoc.docLastPagePrint }}</p>
          <p *ngIf="oneDoc.docNumPagesPrint">Number Pages: {{ oneDoc.docNumPagesPrint }}</p>
          <p *ngIf="oneDoc.docAdConflicts">Advertising Conflicts: {{ oneDoc.docAdConflicts }}</p>
          <p *ngIf="oneDoc.docPrintNotes">Notes: {{ oneDoc.docPrintNotes }}</p>

        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <br>
              Editing Timeline
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header> 
          <br>

          <p *ngIf="oneDoc.docEditor">Editor: {{ oneDoc.docEditor }}</p>
          <p *ngIf="oneDoc.docCoordinator">Coordinator: {{ oneDoc.docCoordinator }}</p>
          <p *ngIf="oneDoc.docProofReader">Proofreader: {{ oneDoc.docProofReader }}</p>
          <p *ngIf="oneDoc.docSE1">SE1: {{ oneDoc.docSE1 }}</p>
          <p *ngIf="oneDoc.docEnteredDate">Entered Date: {{ oneDoc.docEnteredDate }}</p>
          <p *ngIf="oneDoc.docAcceptDate">Accept Date: {{ oneDoc.docAcceptDate }}</p>
          <p *ngIf="oneDoc.docCopyEditBeginDate">Copy Edit Begin Date: {{ oneDoc.docCopyEditBeginDate }}</p>
          <p *ngIf="oneDoc.docCopyEditCompleteDate">Copy Edit Complete Date: {{ oneDoc.docCopyEditCompleteDate }}</p>
          <p *ngIf="oneDoc.docSendSEDate">Send to SE Date: {{ oneDoc.docSendSEDate }}</p>
          <p *ngIf="oneDoc.docReturnSEDate">Return from SE Date: {{ oneDoc.docReturnSEDate }}</p>
          <p *ngIf="oneDoc.docSendAuthorDate">Sent to Author Date: {{ oneDoc.docSendAuthorDate }}</p>
          <p *ngIf="oneDoc.docReturnAuthorDate">Return from Author Date: {{ oneDoc.docReturnAuthorDate }}</p>
          <p *ngIf="oneDoc.docReturnAuthorDate">Finalized Date: {{ oneDoc.docReturnAuthorDate }}</p>

        </mat-expansion-panel> 
      </mat-accordion>

      <br>
 
      <div *ngIf="showNews"> 

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              News Details 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p *ngIf="oneDoc.docNewsAuthorType">Author Type: {{ oneDoc.docNewsAuthorType }}</p>
          <p *ngIf="oneDoc.docPublishDateCMAJnews">Date posted on cmajnews.com: {{ oneDoc.docPublishDateCMAJnews }}</p>
          <p *ngIf="oneDoc.docNewsCommissionDate">Commission Date: {{ oneDoc.docNewsCommissionDate }}</p>
          <p *ngIf="oneDoc.docNewsInvoiceDate">Invoice Date: {{ oneDoc.docNewsInvoiceDate }}</p>
          <p *ngIf="oneDoc.docNewsInvoiceAmount">Invoice Amount: ${{ oneDoc.docNewsInvoiceAmount }}</p>

        </mat-expansion-panel> 
      </mat-accordion>

      </div>

      <br>

      <hr class="hr-style">

      <div class="flex-center">
        <span (click)="onEditDocSubmit()">
          <button mat-raised-button>Edit Document</button>
        </span>
        <span (click)="onDeleteDocSubmit()">
          <button mat-raised-button>Delete Document</button>
        </span>
      </div>
    </div>
  </section>
</div>  

<div *ngIf="editDoc">
<div class = "align-form">
  <section class = "mat-typography">
    <h2>Edit Document</h2>
    <form (submit)="onEditedDocSubmit()" class="example-form">  

      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Title" [(ngModel)]="docTitle" name="docTitle">  
      </mat-form-field>  

      <mat-form-field class="example-full-width">  
        <input type="text" matInput placeholder="Author" [(ngModel)]="docAuthor" name="docAuthor">
      </mat-form-field>  

      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="DOI" [(ngModel)]="docDOI" name="docDOI">
      </mat-form-field>  

      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="docSection" name="docSection" placeholder="Section">
          <mat-option *ngFor="let s of sections" [value]="s"> {{s}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Collection Codes 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docCollectionCode1" name="docCollectionCode1" placeholder="Collection Code 1">
              <mat-option *ngFor="let c of collectionCodes" [value]="c"> {{c}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docCollectionCode2" name="docCollectionCode2" placeholder="Collection Code 2">
              <mat-option *ngFor="let c of collectionCodes" [value]="c"> {{c}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docCollectionCode3" name="docCollectionCode3" placeholder="Collection Code 3">
              <mat-option *ngFor="let c of collectionCodes" [value]="c"> {{c}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docCollectionCode4" name="docCollectionCode4" placeholder="Collection Code 4">
              <mat-option *ngFor="let c of collectionCodes" [value]="c"> {{c}} </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Document Details  
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
            <input matInput placeholder="" style="display: none">
              <mat-checkbox [(ngModel)]="docOpenAccess" name="docOpenAccess">Open Access</mat-checkbox>
          </mat-form-field>

          <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline example-full-width">
            <input matInput placeholder="" style="display: none">
              <mat-checkbox [(ngModel)]="docTranslation" name="docTranslation">Translation</mat-checkbox>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docCommisionDatePicker" placeholder="Commission Date" [(ngModel)]="docCommissionDate" name="docCommissionDate">
            <mat-datepicker-toggle matSuffix [for]="docCommisionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docCommisionDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docAcceptDatePicker" placeholder="Accept Date" [(ngModel)]="docAcceptDate" name="docAcceptDate">
            <mat-datepicker-toggle matSuffix [for]="docAcceptDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docAcceptDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docPublishDatePicker" placeholder="Publish Date" [(ngModel)]="docPublishDate" name="docPublishDate">
            <mat-datepicker-toggle matSuffix [for]="docPublishDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docPublishDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docInvoiceDatePicker" placeholder="Invoice Date" [(ngModel)]="docInvoiceDate" name="docInvoiceDate">
            <mat-datepicker-toggle matSuffix [for]="docInvoiceDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docInvoiceDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docInvoiceAmount" name="docInvoiceAmount" placeholder="Invoice Amount">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
          
        </mat-expansion-panel> 
      </mat-accordion> 

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Editing Timeline
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>


          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docEditor" name="docEditor" placeholder="Manuscript Editor">
              <mat-option *ngFor="let e of editors" [value]="e"> {{e}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docCoordinator" name="docCoordinator" placeholder="Manuscript Coordinator">
            <mat-option *ngFor="let c of coordinators" [value]="c"> {{c}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docProofReader" name="docProofReader" placeholder="Manuscript Proofreader">
            <mat-option *ngFor="let p of proofers" [value]="p"> {{p}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docSE1" name="docSE1" placeholder="SE1">
            <mat-option *ngFor="let s of se1s" [value]="s"> {{s}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docEnteredDatePicker" placeholder="Entered Date" [(ngModel)]="docEnteredDate" name="docEnteredDate">
            <mat-datepicker-toggle matSuffix [for]="docEnteredDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docEnteredDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docCopyEditBeginDatePicker" placeholder="Copyedit Begin Date" [(ngModel)]="docCopyEditBeginDate" name="docCopyEditBeginDate">
            <mat-datepicker-toggle matSuffix [for]="docCopyEditBeginDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docCopyEditBeginDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docCopyEditCompleteDatePicker" placeholder="Copyedit Complete Date" [(ngModel)]="docCopyEditCompleteDate" name="docCopyEditCompleteDate">
            <mat-datepicker-toggle matSuffix [for]="docCopyEditCompleteDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docCopyEditCompleteDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docSendSEDatePicker" placeholder="Send SE Date" [(ngModel)]="docSendSEDate" name="docSendSEDate">
            <mat-datepicker-toggle matSuffix [for]="docSendSEDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docSendSEDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docReturnSEDatePicker" placeholder="Return SE Date" [(ngModel)]="docReturnSEDate" name="docReturnSEDate">
            <mat-datepicker-toggle matSuffix [for]="docReturnSEDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docReturnSEDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docFinalizeDatePicker" placeholder="Finalize Date" [(ngModel)]="docFinalizeDate" name="docFinalizeDate">
            <mat-datepicker-toggle matSuffix [for]="docFinalizeDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docFinalizeDatePicker></mat-datepicker>
          </mat-form-field>

          
        </mat-expansion-panel> 
      </mat-accordion> 

      <br>


      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Online Issue 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docOnlineIssue" name="docOnlineIssue" placeholder="Issue">
              <mat-option *ngFor="let o of onlineIssues" [value]="o"> {{o}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docFirstPageOnline" name="docFirstPageOnline" placeholder="Start Page">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docLastPageOnline" name="docLastPageOnline" placeholder="End Page">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docNumPagesOnline" name="docNumPagesOnline" placeholder="Number Online Pages">
          </mat-form-field>

          <mat-form-field class="example-full-width">  
            <input type="text" matInput placeholder="Notes" [(ngModel)]="docOnlineNotes" name="docOnlineNotes">  
          </mat-form-field>  

        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Print Issue 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docPrintIssue" name="docPrintIssue" placeholder="Date">
              <mat-option *ngFor="let p of printIssues" [value]="p"> {{p}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docFirstPagePrint" name="docFirstPagePrint" placeholder="Start Page">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docLastPagePrint" name="docLastPagePrint" placeholder="End Page">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docNumPagesPrint" name="docNumPagesPrint" placeholder="Number Print Pages">
          </mat-form-field>
          <mat-form-field class="example-full-width">  
            <input type="text" matInput placeholder="Advertising Conflicts" [(ngModel)]="docAdConflicts" name="docAdConflicts">  
          </mat-form-field>  
          <mat-form-field class="example-full-width">  
            <input type="text" matInput placeholder="Notes" [(ngModel)]="docPrintNotes" name="docPrintNotes">  
          </mat-form-field>  
        </mat-expansion-panel> 
      </mat-accordion>

      <br>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              News 
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="docNewsAuthorType" name="docNewsAuthorType" placeholder="Author Type">
              <mat-option *ngFor="let a of authortypes" [value]="a"> {{a}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docPublishDateCMAJnewsPicker" placeholder="Date Posted on cmajnews.com" [(ngModel)]="docPublishDateCMAJnews" name="docPublishDateCMAJnews">
            <mat-datepicker-toggle matSuffix [for]="docPublishDateCMAJnewsPicker"></mat-datepicker-toggle>
            <mat-datepicker #docPublishDateCMAJnewsPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docNewsCommissionDatePicker" placeholder="Commission Date" [(ngModel)]="docNewsCommissionDate" name="docNewsCommissionDate">
            <mat-datepicker-toggle matSuffix [for]="docNewsCommissionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docNewsCommissionDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="docNewsInvoiceDatePicker" placeholder="Invoice Date" [(ngModel)]="docNewsInvoiceDate" name="docNewsInvoiceDate">
            <mat-datepicker-toggle matSuffix [for]="docNewsInvoiceDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #docNewsInvoiceDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="number" matInput [(ngModel)]="docNewsInvoiceAmount" name="docNewsInvoiceAmount" placeholder="Invoice Amount">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
          
        </mat-expansion-panel> 
      </mat-accordion>

    <br>
      
    <button mat-raised-button type="submit">Submit</button>

    </form>  
  </section>
</div>
</div>

  
