/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.hr-style {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.red-font {
	color: red;
}

.green-font {
  color: green;
}

.blue-font {
  color: #0198E1;
}

.align-page {
  flex: 1 1 auto;
  margin-left: 50px;
  margin-top: 50px;
}

.flex-center {
  flex: 1 1 auto;
  text-align: center;
}

h2 {
    color: #4D6FAC;
}

a:link {
    color: #A9A9A9;
}

a:visited {
    color: #A9A9A9;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

.mat-calendar-body-cell-content { 
  color: red;
}
