<div class ="align-form">
  <section class = "mat-typography">

    <h4>Welcome {{username}}</h4> 

    <form (submit)="updateConfig()" class="example-form">  
      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="First News DOI" [(ngModel)]="firstNewsDOI" name="firstNewsDOI">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="string" matInput placeholder="Multimedia Type 1" [(ngModel)]="multiMedia1" name="multiMedia1">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="string" matInput placeholder="Multimedia Type 2" [(ngModel)]="multiMedia2" name="multiMedia2">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="string" matInput placeholder="Multimedia Type 3" [(ngModel)]="multiMedia3" name="multiMedia3">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="string" matInput placeholder="Multimedia Type 4" [(ngModel)]="multiMedia4" name="multiMedia4">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="string" matInput placeholder="Multimedia Type 5" [(ngModel)]="multiMedia5" name="multiMedia5">  
      </mat-form-field>  
      <mat-form-field class="example-full-width">  
        <input type="string" matInput placeholder="Multimedia Type 6" [(ngModel)]="multiMedia6" name="multiMedia6">  
      </mat-form-field>  
     
      <button mat-raised-button type="submit">Submit Edits</button>
    </form>  

  </section>
</div>