<div class = "align-form">
  <section class = "mat-typography">

    <h4>Welcome {{currentUser}}</h4> 
    <h2>Add Online issue</h2>

    <form (submit)="onOnlineSubmit()" class="example-form">  

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="onlineIssueDatePicker" placeholder="Online Issue Date" [(ngModel)]="date" name="date">
          <mat-datepicker-toggle matSuffix [for]="onlineIssueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #onlineIssueDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="Volume" [(ngModel)]="volume" name="volume">  
      </mat-form-field>  

      <mat-form-field class="example-full-width">  
        <input type="number" matInput placeholder="Issue" [(ngModel)]="issue" name="issue">  
      </mat-form-field>  

      <button mat-raised-button type="submit">Submit</button>

    </form>  
    <br>
    <hr class="hr-style">

    <div *ngIf="errorMessage">
      <h4 class="red-font">{{errorMessage}}</h4>
    </div>
    <div *ngIf="validateMessage">
      <h4 class="red-font">{{validateMessage}}</h4>
    </div>
    <div *ngIf="successMessage">
      <h4 class="blue-font">{{successMessage}}</h4>
    </div>
    <div *ngIf="deleteMessageEdit">
      <h4 class="blue-font">{{deleteMessageEdit}}</h4>
    </div>

  </section>
</div>

<div class = "align-form">
  <section class = "mat-typography">
    <br>
    <h2>Current Online Issues</h2>
    <hr class="hr-style">

    <div *ngFor="let o of onlineIssues; let i = index">

      <div *ngIf="i != onlineIndex">

        <h3 class="red-font">
           {{ o.dateFormatted }}
        </h3>
        <p>
           Volume: {{ o.volume }}
        </p>
        <p>
           Issue: {{ o.issue }}
        </p>
  
        <a href="" onClick="return false;">
          <span (click)="onOnlineEdit(o, i)">Edit</span>
        </a>
        &nbsp; 
        <a href="" onClick="return false;">
          <span (click)="onOnlineDelete(o, i)"> Delete</span>
        </a>
        <hr class="hr-style">


      </div>

      <div *ngIf="i==onlineIndex">  

        <h2>Edit Online Issue</h2>

        <form (submit)="onEditSubmit()" class="example-form">  

          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="onlineIssueDatePickerEdit" placeholder="Online Issue Date" [(ngModel)]="dateEdit" name="dateEdit">
            <mat-datepicker-toggle matSuffix [for]="onlineIssueDatePickerEdit"></mat-datepicker-toggle>
            <mat-datepicker #onlineIssueDatePickerEdit></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">  
            <input type="number" matInput placeholder="Volume" [(ngModel)]="volumeEdit" name="volumeEdit">  
          </mat-form-field>  

          <mat-form-field class="example-full-width">  
            <input type="number" matInput placeholder="Issue" [(ngModel)]="issueEdit" name="issueEdit">  
          </mat-form-field>  

          <button mat-raised-button type="submit">Submit</button>
          <button mat-raised-button type="button" (click)="editCancel()">Cancel</button>

        </form>  
        
        <br>
        <div *ngIf="errorMessageEdit">
          <h4 class="red-font">{{errorMessageEdit}}</h4>
        </div>
        <div *ngIf="validateMessageEdit">
          <h4 class="red-font">{{validateMessageEdit}}</h4>
        </div>
        <div *ngIf="successMessageEdit">
          <h4 class="blue-font">{{successMessageEdit}}</h4>
        </div>
        <br>
        <hr class="hr-style">

      </div>

    </div>

  </section>
</div>

